/*
Author: Kenneth Luck
Date:April 21, 2022
File Name: .css Chapter 8
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Style rule for the table element */
table {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border: solid;
  border: #71881b;
}

table, th, td {
  padding: 2%;
}

#table1 {
  border-collapse: collapse;
}

caption {
  font-size: 2em;
  padding: 2%;
  margin-top: 2%;
}

table, th, td {
  border: 1px solid #718888;
}

/* Center aligns text  */
table, td {
  border: center-align;
}

/* Sets background color  */
table, th {
  background-color: #d3e788;
}
